.bookList {
	list-style-type: none;
	padding-inline-start: unset;
	li {
		cursor: pointer;
		display: flex;
		margin-bottom: 1.2rem;
		img {
			margin-right: 1.2rem;
		}
	}
}

.bookDetail {
	margin-top: 1.2rem;
	.genre {
		text-transform: capitalize;
	}
	button {
		background-color: rgb(190 245 245);
		border-radius: 0.6rem;
		border: 1px solid lightgray;
		margin: 1.2rem;
		padding: 1.2rem;
	}
}

form {
	label {
		display: block;
	}
	input, textarea {
		width: 100%;
		margin-bottom: 1.2rem;
		height: 2rem;
	}
	textarea {
		min-height: 6rem;
	}
}
