html {
    font-size: 62.5%;
    font-family: 'Muli', 'Helvetica Neue', 'Arial', sans-serif;
    line-height: 1.4 !important;
    letter-spacing: -0.1px !important;
}

body {
    font-size: 14px;
}

html, body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}

h1, .h1 {
    font-size: clamp(1.8rem, 2.5vw, 2.8rem);
}

h2, .h2 {
    font-size: clamp(1.6rem, 2.3vw, 2.5rem);
}

h3, .h3 {
    font-size: clamp(1.4rem, 2.1vw, 2.3rem);
}

h4, .h4 {
    font-size: clamp(1.2rem, 1.9vw, 2.1rem);
}

h5, .h5 {
    font-size: clamp(1.1rem, 1.7vw, 2.0rem);
}

h6, .h6 {
    font-size: clamp(1.0rem, 1.5vw, 1.9rem);
}
